*,
.book-info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nuntio-sans", sans-serif;
  background-color: #ced4da;
}

.books-header {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.books-title {
  color: #0a0a23;
  font-family: "Nuntio-sans";
  font-size: 5rem;
}

.search-bar {
  margin-top: 1.5rem;
  border: 2px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 50%;
  padding: 5px 23px 5px 10px;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: #0a0a23;
  color: #fff;
  padding: 9.5px;
}

.btn:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.btn:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.books-tile {
  margin: 9.5rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.books-title-list {
  list-style: none;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
  padding: 0.25rem;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.books-title-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

p {
  margin-top: 1rem;
  color: #0a0a23;
  font-size: 1.1rem;
  line-height: 1;
  font-family: "Nuntio-sans";
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

svg {
  height: 6rem;
  width: 6rem;
  fill: #0a0a23;
  animation: loading 2s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-div,
.book-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}

.book-row {
  gap: 2rem;
}

.book-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin-bottom: 20px; /* Space between content and button */
  gap: 1.5rem;
}

.book-first-column {
  width: 100px;
}

.book-description {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.book-img {
  margin-top: 9.5rem;
  padding-left: 4rem;
}

.book-details {
  font-family: "Nuntio-sans";
  margin-top: 9.5rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

.book-download-class {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.book-download-btn {
  display: block;
  width: 150%;
  border: none;
  /* border-radius: 10px; */

  cursor: pointer;
  text-align: center;
  background-color: #0a0a23;
  padding: 14px 28px;
  margin-top: 5rem;
}

.book-download-btn:hover {
  background-color: #002ead;
  transition: 0.2s;
  outline-color: transparent;
  outline-style: inset;
  box-shadow: 0 0 0 4px #5a01a7;
}

.btn-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.go-to-page1 {
  margin-top: 10rem;
  margin-left: 1.5rem;
  display: block;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #0a0a23;
  color: #fff;
}

.pagination {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.page-prev-text,
.page-next-text {
  margin-top: 10rem;
  margin-left: 1.5rem;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #0a0a23;
  color: #fff;
}

.page-prev-text:hover,
.page-next-text:hover {
  background-color: #002ead;
  transition: 0.7s;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.pagina-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.error {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.error-message {
  font-size: 5.5rem;
}
